@use './variables.module.scss' as *;

.page-wrapper {
  @include container;

  display: flex;
}

.scoreboard {
  min-width: 252px;
  min-height: 300px;
  border-radius: $small-radius;
  border: 2px solid $main-border-color;

  @include respond-to('tablet') {
    min-height: 543px;
  }
}

.scoreboard-title {
  margin: 0;
  padding: 22px 26px;
  border-bottom: 2px solid $main-border-color;
  font-weight: normal;
}

.scoreboard-list {
  @include reset-list;

  overflow-y: scroll;
}

.scoreboard-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
}

.scoreboard-image {
  overflow: hidden;

  & > * {
    width: 38px;
    aspect-ratio: 1 / 1;
  }
}

.hint-list {
  @include reset-list;
  @include horizontal-list;

  gap: 24px;
}

.hint-button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 44px;
  border-radius: 80px / 44px;
  border: 2px solid $main-border-color;
  background-color: $card-background-color;
}
