@use '@/styles/variables.module.scss' as *;

.question-answers-list {
  @include reset-list;

  display: grid;
  grid-template-areas:
    'question question'
    'answer1 answer2'
    'answer3 answer4';
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

.question {
  grid-area: question;
  padding: 20px 40px;
  text-align: center;
}

.answer1,
.answer2,
.answer3,
.answer4 {
  width: 100%;
  margin: 0;

  & button {
    @include reset-button;

    width: 100%;
    padding: 10px 45px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid $main-border-color;
  }
}

.answer1 {
  grid-area: answer1;
}

.answer2 {
  grid-area: answer2;
}

.answer3 {
  grid-area: answer3;
}

.answer4 {
  grid-area: answer4;
}
