/* CONSTANTS */
$main-font-color: #b2bacd;
$main-background-color: #1e2633;

/* STYLES */
body {
  color: $main-font-color;
  background: $main-background-color;
}

.text-balance {
  text-wrap: balance;
}
