@use 'variables.module.scss' as var;

/* STYLES */
body {
  color: var.$main-font-color;
  background: var.$main-background-color;
  font-size: var.$main-font-size;
  font-weight: var.$regular-font-weight;
}

.text-balance {
  text-wrap: balance;
}
