@use '@/styles/variables.module.scss' as *;

.page-wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
  min-height: 300px;

  @include respond-to('tablet') {
    min-height: 543px;
  }
}

.scoreboard {
  min-width: 252px;
  border-radius: $small-radius;
  border: 2px solid $main-border-color;
}

.scoreboard-title {
  margin: 0;
  padding: 22px 26px;
  border-bottom: 2px solid $main-border-color;
  font-weight: normal;
}

.scoreboard-list {
  @include reset-list;

  overflow-y: scroll;
}

.scoreboard-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
}

.scoreboard-image {
  overflow: hidden;

  & > * {
    width: 38px;
    aspect-ratio: 1 / 1;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.question-answers {
  @include container;

  padding-top: 42px;
}
