@use '@/styles/variables.module.scss' as *;

.page-wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
  min-height: 300px;

  @include respond-to('tablet') {
    min-height: 543px;
  }
}

.scoreboard {
  min-width: 252px;
  border-radius: $small-radius;
  border: 2px solid $main-border-color;
}

.scoreboard-title {
  margin: 0;
  padding: 22px 26px;
  border-bottom: 2px solid $main-border-color;
  font-weight: normal;
}

.scoreboard-list {
  @include reset-list;

  overflow-y: scroll;
}

.scoreboard-item {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
}

.scoreboard-image {
  overflow: hidden;

  & > * {
    width: 38px;
    aspect-ratio: 1 / 1;
  }
}

.game {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 288px;
  height: 288px;
  border-radius: 50%;
  border: 6px solid $secondary-border-color;
}

.time {
  font-size: 4.2rem;
  font-weight: 100;
  color: $secondary-font-color;
}

.progress-list {
  @include reset-list;

  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-end;
  gap: 20px;
}

.progress-item {
  position: relative;
  display: flex;
  gap: 28px;
  height: 17px;
  font-size: $large-font-size;
}

.progress-number {
  display: flex;
  justify-content: flex-end;
  width: 24px;
  color: $main-border-color;
}

.progress-text {
  color: $accent-color;

  &--highlighted {
    color: white;
  }
}

.progress-item--active {
  & .progress-number {
    color: white;
  }

  & .progress-text {
    color: $main-border-color;
  }

  &::before {
    position: absolute;
    inset: 0;
    width: 216px;
    height: 32px;
    translate: -35px 0;
    background-image: url('/progress_mark.svg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    content: '';
    z-index: -1;
  }
}

.question-answers {
  @include container;

  padding-top: 42px;
}

.question-answers-list {
  @include reset-list;

  display: grid;
  grid-template-areas:
    'question question'
    'answer1 answer2'
    'answer3 answer4';
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  gap: 10px;
  font-size: 1.25rem;
}

.question {
  grid-area: question;
  padding: 20px 40px;
  text-align: center;
}

.answer1,
.answer2,
.answer3,
.answer4 {
  width: 100%;
  margin: 0;

  & button {
    @include reset-button;

    width: 100%;
    padding: 10px 45px;
    text-align: center;
    border-radius: 10px;
    border: 1px solid $main-border-color;
  }
}

.answer1 {
  grid-area: answer1;
}

.answer2 {
  grid-area: answer2;
}

.answer3 {
  grid-area: answer3;
}

.answer4 {
  grid-area: answer4;
}
