/* CONSTANTS */
$accent-color: #e48800;
$main-font-color: #b2bacd;
$main-background-color: #1e2633;
$secondary-background-color: #232a3a;
$main-border-color: #3a404e;
$secondary-border-color: #384358;
$main-scrollbar-color: #3b465c;
$main-font-size: 16px;
$large-font-size: 20px;
$regular-font-weight: 400;
$semibold-font-weight: 500;
$heavy-background-shadow: 0 14px 34px 0 rgb(13 26 48 / 50%);
$light-background-shadow: 0 4px 4px 0 rgb(0 0 0 / 25%);

/* MEDIA-QUERY */
@mixin respond-to($device) {
  @if $device == 'mobile' {
    @media (width >= 375px) {
      @content;
    }
  } @else if $device == 'tablet' {
    @media (width >= 768px) {
      @content;
    }
  } @else if $device == 'desktop' {
    @media (width >= 1024px) {
      @content;
    }
  }
}

/* stylelint-disable */
:export {
  accentColor: $accent-color;
  mainFontColor: $main-font-color;
  mainBackgroundColor: $main-background-color;
  secondaryFontColor: $secondary-background-color;
  mainBorderColor: $main-border-color;
  secondaryBorderColor: $secondary-border-color;
  mainScrollbarColor: $main-scrollbar-color;
  mainFontSize: $main-font-size;
  largeFontSize: $large-font-size;
  regularFontWeight: $regular-font-weight;
  semiboldFontWeight: $semibold-font-weight;
  heavyBackgroundShadow: $heavy-background-shadow;
  lightBackgroundShadow: $light-background-shadow;
}

@mixin reset-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin horizontal-list {
  @include reset-list;

  display: flex;
  flex-wrap: wrap;
}

@mixin container {
  max-width: 1080px;
  margin-inline: auto;
}

@mixin container--narrow {
  @include container;

  max-width: 1040px;
}

@mixin reset-link {
  display: block;
  text-decoration: none;
  color: inherit;
}

@mixin reset-button {
  background: none;
  border: none;
  color: inherit;
  font: inherit;
  line-height: normal;
  overflow: visible;
  padding: 0;
  margin: 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-align: inherit;
  text-decoration: none;
  cursor: pointer;

  &:focus {
    outline: none;
  }
}

@mixin default-hover {
  &:hover {
    opacity: 0.5;
    transition: opacity 0.2s ease-in;
  }

  &:active {
    opacity: 0.3;
    transition: opacity 0.2s ease-in;
  }
}
