@use '@/styles/variables.module.scss' as *;

.page-wrapper {
  @include container;

  display: flex;
  justify-content: space-between;
  min-height: 300px;

  @include respond-to('tablet') {
    min-height: 543px;
  }
}
