@use '@/styles/variables.module.scss' as *;

.hint-list {
  @include reset-list;
  @include horizontal-list;

  gap: 24px;
}

.hint-button {
  @include reset-button;

  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 44px;
  border-radius: 80px / 44px;
  border: 2px solid $main-border-color;
  background-color: $card-background-color;
}
